<div class="app-section mat-app-background" >
	<div class="mat-headline-2"
       style="font-weight: lighter; display: inline-block;position:relative;width:fit-content;max-width: 80%;">
		  {{title}}
  </div>

  <div *ngIf="icon!=''">
    <mat-icon style="font-size: 60px;width:100px;height:100px;">{{icon}}</mat-icon>
  </div>


  <div *ngIf="subtitle!=''" class="mat-headline-6"  style="margin-top: -30px;width: 80%;text-align: center;display: inline-block;">
		  {{subtitle}}
  </div>

  <br><br>

	<ng-content style="width: 100vw;padding:0;margin:0;"></ng-content>
	<br>
</div>
